/* taken from style.css from original blog file
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

.flexbox {
    display: flex; 
    font-size: larger
}

.static {
    flex: 0 0 50px;
    font-size: Larger;
    background-color: white;
}
.static_2 {
    flex: 0 0 60px;
    font-family: inherit
    font-size: Larger;
    background-color: #AA1E38;
}
.body {
    font-family: Arial;
    background-color: white;
    font-style: normal;
    font-size:15px;
}

@media screen and (max-width:480px) {
    .container dic span {
        display:none;
    }
}
